.newbooking_containor{
    height: 100vh;
    background-color: rgb(233, 231, 231);
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;

    
}
.newbooking_subcontainor{
    width: 700px;
    height: 520px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    box-shadow: 3px 4px 4px 1px #888888;
    
}
.newbooking_body{
    width: 650px;
   
}
.buttonsalign{
    display: flex;
   gap: 10px;
   top: 10px;
}
.newbuttons{
    display: flex;
    gap: 10px;
    align-items: center;
}
@media only screen and (max-width: 700px) {
    .newbooking_subcontainor{
        width: 500px;
       
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        display: grid;
        justify-content: center;
    }
    .newbooking_body{
        width: 450px;
        
       
    }

}
@media only screen and (max-width: 600px) {
    .newbooking_subcontainor{
        width: 400px;
       
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        display: grid;
        justify-content: center;
    }
    .newbooking_body{
        width: 350px;
        
       
    }

}
@media only screen and (max-width: 500px) {
    .newbooking_subcontainor{
        width: 300px;
       
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        display: grid;
        justify-content: center;
    }
    .newbooking_body{
        width: 250px;
        
       
    }

}
@media only screen and (max-width: 400px) {
    .newbooking_subcontainor{
        width: 200px;
       
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        display: grid;
        justify-content: center;
    }
    .newbooking_body{
        width: 150px;
        
       
    }

}