.mainframe{
    width: 100%;
      height: 100%;
    
   
  
}
.subframe{
  width: 100%;
  height: 100vh;
  background-color: rgb(233, 231, 231);
  position: relative;
}

.btn_add{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-right: 5%;
   
}
#textroom{
    padding-left: 75px ;
}

.wrapper ,.data_container{
    
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
    background-color: #fff;
    color: black;
    width: 90%;
    border: 1px solid lightgrey;
    height: 70px;


  }

  .wrapper{
    position: sticky;
    top: 0;
  }

  .table_sec{
    width: 100%;
    display: grid;
    place-items: center;
    
    
   
  }
  
  .subbtn{
    display: flex;
    align-items:  center;
    
  }
  .main_delete_popup{
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position:fixed;
    top: 0%;
    left: 0%;
    display: grid;
    place-items: center;
  }

  .delete_popup{
    box-shadow: 7px 6px 4px 0px #888888;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black ;
    display: grid;
    justify-content: center;
    position: absolute;
    background-color: white;
    margin: auto;
    padding: 20px;
    
    
  }
  .delete_popup_buttons{
   
    display: flex;
    
 width: 100%;
 gap: 20px;
    
  }
  .delete_popup_buttons button{

    color: white;
    background-color: black;
    cursor: pointer;
  }
  .icons{
    cursor: pointer;
  }


  @media only screen and (max-width: 500px) {
    .data_container{
    
      display: grid;
      place-items: center;
      grid-template-columns: none ;
      background-color: #fff;
      color: black;
      width: 90%;
      border: 1px solid lightgrey;
      height: 70px;
  
  
    }
    .wrapper{
      display: none;
      
    }
    .icons{
      display: none;
    }
  }
  

  
  