.mainframe{
    width: 100%;
    height: 135vh;
    background-color: rgb(233, 231, 231);
  
}

.btn_add{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-right: 5%;
   
}
#textroom{
    padding-left: 75px ;
}

.wrapper ,.data_container{
    
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr  ;
    background-color: #fff;
    color: black;
    width: 90%;
    border: 1px solid lightgrey;
    height: 70px;


  }

  .wrapper{
    position: sticky;
    top: 0;
  }

  .table_sec{
    width: 100%;
    display: grid;
    place-items: center;
    
    
   
  }
  
  .subbtn{
    display: flex;
    align-items:  center;
    
  }

  

  
  