.rountlabel{
    height: 35px;
    width: 84px;
    border: 1px solid orange;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    gap: 20px;
}